h1 {
  font-size: 50pt;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  text-align: center;
}

body {
  background-color: rgb(214, 163, 214);
}



ul {
  list-style: none;
  font-size: 15pt;
}


ul li a{
  text-decoration: none;

}

nav{
  background-color: darkorchid;
  text-align: center;
  display:contents;

}

p{
  font-size: 15pt;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
  justify-self: center;
}


.button{
  margin-top: 10%;
  margin-left: 48%;

}

.button2{
  margin-top: 3%;
  margin-left:42%;
}


div button{
color: white;
width: 100px;
height: 50px;
border: none;
border-radius: 50px;
font-size: large;
background-color: rgb(154, 84, 220);
}




 img {
  width: 480px;

 }


*{
  box-sizing: border-box;

}

.wrapper{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;

}

.card {
width: 80px;
margin-left: 210px;
}

.card2 {
  width: 80px;
  margin-left: 210px;
  float: inline-end;
  }


.timer_box{
 width: 60px;
  background-color: #f1f1f1;
  float: left;
  border-radius: 10px;
  text-align: center;

}

.move_box{

  width: 60px;
  background-color: #f1f1f1;
  float: left;
  border-radius: 10px;
  text-align: center;
  margin-left: 3%;

}
